._consultSection {
  height: 65vh;
  margin-top: 20vh;
}

._consultContainer {
  height: 53vh;
  font-size: 2.8rem;
  font-weight: bold;
  background: linear-gradient(rgb(255, 57, 97), rgb(255, 144, 166));
  color: rgb(218, 7, 49);
  display: flex;
  justify-content: space-between;
}
._consultwordcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._consultNowBtn {
  width: 12vw;
  height: 8vh;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  background: crimson;
  color: white;
  margin: 2vh 0 0 0;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 0 0 15px rgb(166, 12, 43);
}

._consultNowBtn:hover {
  border: solid 2px white;
  color: white;
  background-color: transparent;
}

._consutlImg {
  height: 75vh;
  transform: translate(0, -157px);
  position: relative;
}
