._medicineAdContainer {
  padding-top: 10vh;
  height: 40vh;
  font-size: 2rem;
  background: linear-gradient(
    to left,
    rgba(255, 144, 166, 0.4),
    rgba(255, 57, 97, 0.8)
  );
  color: rgb(218, 7, 49);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  margin: 10vh 0;
}
.medicineAdtxt {
  font-size: 1.6rem;
}
.medicineAdImg {
  height: 40vh;
}
